/*ОБЩИЕ СТИЛИ*/

.advantages {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    min-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    min-width: @desktop-width;
  }

  .advantages__item {
    text-align: center;
    margin: 0;
  }

  .advantages__img {
    max-width: 100%;
    height: auto;
    flex-grow: 1;
    object-fit: cover;
    display: block;
  }

  .advantages__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

    @media (min-width: @tablet-width) {
      font-size: 21px;
      width: 190px;
      margin: 0 auto;
    }

    @media (min-width: @desktop-width) {
      width: auto;
    }
  }

  .advantages__number {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    position: relative;
  }

  .advantages__text {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
  }
}

.advantages__wrapper {
  min-width: 284px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
    margin: 0 auto;
  }

  .advantages__wrapper--line-1 {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      width: @tablet-width;
    }

      @media (min-width: @desktop-width) {
        flex-direction: row;
        width: @desktop-width;
      }
    }

    .advantages__wrapper--line-2 {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      @media (min-width: @tablet-width) {
        flex-direction: row;
      }

      @media (min-width: @desktop-width) {
        flex-direction: row;
      }
    }

    .advantages__wrapper--line-3 {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      @media (min-width: @tablet-width) {
        flex-direction: row;
        width: @tablet-width;
      }

      @media (min-width: @desktop-width) {
        flex-direction: row;
        width: @desktop-width;
      }
    }

    .advantages__wrapper--line-4 {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      @media (min-width: @tablet-width) {
        display: flex;
        flex-direction: row;
      }

      @media (min-width: @desktop-width) {
        display: flex;
        flex-direction: row;
      }
    }
  }

  /*С ГОЛУБЫМ ФОНОМ*/
.advantages__item--color-blue {
  background-color: rgba(129, 179, 210, 1);
  max-width: 320px;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    max-width: 256px;
  }

  @media (min-width: @desktop-width) {
    max-width: 400px;
    margin-left: auto;
  }

  .advantages__item--color-blue:nth-child(2) {
    @media (min-width: @tablet-width) {
      order: 3;
    }
  }
}

.advantages__item--content-wrapper-city {
  padding: 54px 18px 40px 18px;

  @media (min-width: @tablet-width) {
    padding: 52px 33px 31px 33px;
    width: 190px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    padding: 47px 50px 51px 50px;
  }

  .advantages__title,
  .advantages__text {
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0;
  }

  .advantages__number {
    padding-top: 11px;
    padding-bottom: 17px;
    color: rgba(255, 255, 255, 1);

    @media (min-width: @tablet-width) {
    padding-top: 20px;
    padding-bottom: 19px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 11px;
    }

    &::before {
      position: absolute;
      background-color: #ffffff;
      content: "";
      width: 11px;
      height: 1px;
      top: 20px;
      left: 163px;

      @media (min-width: @tablet-width) {
        top: 28px;
        left: 112px;
      }

      @media (min-width: @desktop-width) {
        top: 24px;
        left: 167px;
      }
    }

    &::after {
      position: absolute;
      background-color: #ffffff;
      content: "";
      width: 11px;
      height: 1px;
      top: 22px;
      left: 105px;

      @media (min-width: @tablet-width) {
        top: 28px;
        left: 64px;
      }

      @media (min-width: @desktop-width) {
        top: 23px;
        left: 124px;
      }
    }
  }
}

.advantages__item--content-wrapper-city br {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

  /*С ИКОНКАМИ*/
  .advantages__item--icon {
    text-align: start;
    background-color: rgba(255, 255, 255, 1);

    @media (min-width: @tablet-width) {
      width: 256px;
    }

    @media (min-width: @desktop-width) {
      width: 400px;
    }

    .advantages__title {
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;

      @media (min-width: @tablet-width) {
        font-size: 21px;
        text-align: center;
      }
    }

    .advantages__text {
      margin: 0;
      padding: 0;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      padding-top: 27px;

      @media (min-width: @tablet-width) {
        padding-top: 33px;
      }

      @media (min-width: @desktop-width) {
        padding-top: 23px;
      }
    }
  }

  .advantages__item--house {
    background-image: url("../img/advantages-house.svg");
    background-repeat: no-repeat;
    background-position: 16px 24px;

    @media (min-width: @tablet-width) {
      background-image: url("../img/advantages-house-big.svg");
      background-position: 87px 61px;
      padding-top: 33px;
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/advantages-house-big.svg");
      background-position: 159px 60px;
      width: 400px;
    }

    .advantages__item--content-wrapper-house {
      text-align: start;
      padding-left: 67px;
      padding-top: 27px;
      width: 237px;

      @media (min-width: @tablet-width) {
        padding: 120px 33px 61px 33px;
        text-align: center;
        width: 190px;
      }

      @media (min-width: @desktop-width) {
        padding: 124px 33px 61px 33px;
        margin: 0 auto;
        width: 300px;
      }
    }
  }

  .advantages__item--food {
    background-image: url("../img/advantages-food.svg");
    background-repeat: no-repeat;
    background-position: 16px 24px;

    @media (min-width: @tablet-width) {
      background-image: url("../img/advantages-food-big.svg");
      background-position: 86px 62px;
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/advantages-food-big.svg");
      background-position: 158px 62px;
      width: 400px;
    }

    .advantages__item--content-wrapper-food {
      text-align: start;
      padding-left: 67px;
      padding-top: 21px;
      width: 237px;

      @media (min-width: @tablet-width) {
        padding: 148px 33px 61px 33px;
        text-align: center;
        width: 190px;
      }

      @media (min-width: @desktop-width) {
        padding: 156px 50px 71px 50px;
        margin: 0 auto;
        width: 300px;
      }
    }
  }

  .advantages__item--souvenirs {
    background-image: url("../img/advantages-souvenirs.svg");
    background-repeat: no-repeat;
    background-position: 16px 24px;

    @media (min-width: @tablet-width) {
      background-image: url("../img/advantages-souvenirs-big.svg");
      background-position: 96px 65px;
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/advantages-souvenirs-big.svg");
      background-position: 163px 58px;
      width: 400px;
    }

    .advantages__item--content-wrapper-souvenirs {
      text-align: start;
      padding-left: 67px;
      padding-top: 21px;
      padding-bottom: 43px;
      width: 237px;

      @media (min-width: @tablet-width) {
        padding: 147px 33px 61px 33px;
        text-align: center;
        width: 190px;
      }

      @media (min-width: @desktop-width) {
        padding: 170px 50px 67px 50px;
        margin: 0 auto;
        width: 300px;
      }
    }

    .advantages__item--content-wrapper-souvenirs br {
      display: none;

      @media (min-width: @tablet-width) {
        display: none;
      }

      @media (min-width: @desktop-width) {
        display: block;
      }
    }
  }

.advantages__item--content-wrapper-bridge {
  padding: 38px 18px 40px 18px;

  @media (min-width: @tablet-width) {
    padding: 52px 33px 31px 33px;
    width: 190px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    padding: 47px 50px 51px 50px;
  }

  .advantages__title,
  .advantages__text {
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0;
  }

  .advantages__number {
    padding-top: 11px;
    padding-bottom: 17px;
    color: rgba(255, 255, 255, 1);

    @media (min-width: @tablet-width) {
    padding-top: 20px;
    padding-bottom: 19px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 11px;
    }

    &::before {
      position: absolute;
      background-color: #ffffff;
      content: "";
      width: 11px;
      height: 1px;
      top: 20px;
      left: 163px;

      @media (min-width: @tablet-width) {
        top: 28px;
        left: 112px;
      }

      @media (min-width: @desktop-width) {
        top: 24px;
        left: 167px;
      }
    }

    &::after {
      position: absolute;
      background-color: #ffffff;
      content: "";
      width: 11px;
      height: 1px;
      top: 22px;
      left: 105px;

      @media (min-width: @tablet-width) {
        top: 28px;
        left: 64px;
      }

      @media (min-width: @desktop-width) {
        top: 23px;
        left: 124px;
      }
    }
  }
}

.advantages__item--content-wrapper-bridge br {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

/*НА СЕРОМ ФОНЕ*/
.advantages__item--with-color-grey {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }

  &:not(:first-child)::before {
    content: "";
    width: 284px;
    height: 1px;
    position: absolute;
    top: -26px;
    left: 20px;
    color: #D6D6D6;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
      }
    }

  .advantages__number {
    position: relative;

    @media (min-width: @tablet-width) {
      padding-top: 9px;
      padding-bottom: 33px;
    }

    &::before {
      position: absolute;
      background-color: rgba(51, 51, 51, 1);
      content: "";
      width: 11px;
      height: 1px;
      top: 23px;
      left: 153px;

      @media (min-width: @tablet-width) {
        top: 20px;
        left: 118px;
      }

      @media (min-width: @desktop-width) {
        top: 20px;
        left: 122px;
      }
    }

    &::after {
      position: absolute;
      background-color: rgba(51, 51, 51, 1);
      content: "";
      width: 11px;
      height: 1px;
      top: 22px;
      left: 105px;

      @media (min-width: @tablet-width) {
        top: 20px;
        left: 60px;
      }

      @media (min-width: @desktop-width) {
        top: 20px;
        left: 122px;
      }
    }
  }

  .advantages__text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    }
  }

  .advantages__item--content-wrapper-square {
    padding: 24px 26px 49px 26px;

    @media (min-width: @tablet-width) {
      padding: 43px 33px;
    }

    @media (min-width: @desktop-width) {
      padding: 63px 50px 41px 50px;
    }

    .advantages__number {
      padding-top: 10px;
      padding-bottom: 16px;

      @media (min-width: @tablet-width) {
        padding-bottom: 27px;
      }
    }
  }

.advantages__item--content-wrapper-square br {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages__item--content-wrapper-road {
  padding: 5px 26px 49px 26px;

  @media (min-width: @tablet-width) {
    width: 173px;
    padding: 31px 33px;
  }

  @media (min-width: @desktop-width) {
    padding: 52px 50px 51px 50px;
    margin: 0 auto;
    width: 300px;
  }

    .advantages__number {
      padding-top: 10px;
      padding-bottom: 16px;

      @media (min-width: @tablet-width) {
        padding-bottom: 27px;
    }
  }
}

.advantages__item--content-wrapper-road br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages__item--content-wrapper-tourists {
  padding: 3px 26px 30px 26px;

  @media (min-width: @tablet-width) {
    width: 190px;
    padding: 45px 33px;
  }

  @media (min-width: @desktop-width) {
    padding: 52px 50px 51px 50px;
    margin: 0 auto;
    width: 300px;
  }

  .advantages__number {
    padding-top: 10px;
    padding-bottom: 16px;

    @media (min-width: @tablet-width) {
      padding-bottom: 27px;
    }
  }
}

.advantages__item--content-wrapper-tourists br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
    }
  }
