.copyright {
  width: 127px;
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.copyright__text {
  text-align: center;
  padding-right: 12px;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.copyright__text:hover,
.copyright__text:focus {
  color: rgba(129, 179, 210, 1);
}

.copyright__text:active {
  color: rgba(179, 179, 179, 1);
}

.copyright__link {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
}

.copyright__icon {
  display: block;
  fill: rgba(0, 0, 0, 1);

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .copyright__icon:hover,
  .copyright__icon:focus {
    fill: rgba(129, 179, 210, 1);
  }

  .copyright__icon:active {
    fill: rgba(179, 179, 179, 1);
  }
}
