.gallery {
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin: 0 auto;
  }
}

.gallery__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 648px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin: 0 auto;
  }
}

.gallery__list {
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    width: 648px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.gallery__item {
  width: 280px;
  position: relative;

  @media (min-width: @tablet-width) {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.gallery__item:first-child {
  @media (min-width: @tablet-width) {
    min-width: 648px;
    min-height: 480px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    min-height: 400px;
  }
}

.gallery__item::before {
  content: "";
  width: 320px;
  height: 1px;
  position: absolute;
  top: -20px;
  left: -25px;
  background-color: #d6d6d6;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.gallery__item:last-child::after {
  content: "";
  width: 284px;
  height: 1px;
  position: absolute;
  top: 397px;
  left: -2px;
  background-color: #d6d6d6;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.gallery__item__icon {
  @media (min-width: @tablet-width) {
    fill: rgba(0, 0, 0, 1);
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    fill: #ffffff;
    opacity: 1;
  }
}

.gallery__item-link {
  position: relative;
}

.gallery__title {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.gallery__text {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.gallery__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.gallery__item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 1);
    bottom: 0;
    width: 400px;
  }
}

.gallery__item:first-child .gallery__item-wrapper {
  @media (min-width: @desktop-width) {
    min-width: 1200px;
  }
}

.gallery__item:last-child .gallery__item-wrapper {
  @media (min-width: @tablet-width) {
    max-width: 324px;
  }

  @media (min-width: @desktop-width) {
    min-width: 400px;
  }
}


.gallery__img--1 {
  @media (min-width: @tablet-width) {
    width: 648px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    background-size: contain;
  }
}

.gallery__img--2,
.gallery__img--3,
.gallery__img--4 {
  width: 280px;
  height: 280px;

  @media (min-width: @tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}
