.gallery {
  width: 320px;

  @media (min-width: @tablet-width) {
  width: @tablet-width;
  margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
  width: @desktop-width;
  margin: 0 auto;
  }
}

.gallery__wrapper {
  width: 280px;

}

  .gallery__list {

    @media (min-width: @tablet-width) {
      width: @tablet-width;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      }

      @media (min-width: @desktop-width) {
      width: @desktop-width;
      }
  }

.gallery__item { min-height: 347px;
  margin: 0;
  padding: 0;
}

.gallery__title {
  padding-top: 20px;
  padding-bottom: 15px;
}

.gallery__text {
  text-transform: capitalize;
}

.gallery__img {
  width: 69px;
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 25px;
}

.gallery__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}


