.hero {
  min-height: 389px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 19px 85px 19px;
  outline: 5px solid rgba(72, 255, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    background-image: url("");
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    background-image: url("");
    background-repeat: no-repeat;
  }
}
