.hero-catalog-description__wrapper {
  width: auto;
  margin: 0 auto;
  outline: 5px solid rgba(128, 0, 255, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
    margin: 0 auto;
    background-image: none;
    padding: 0;
  }
}

.hero-catalog-description {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 5px solid rgba(255, 0, 47, 0.8);
  outline-offset: -5px;
  padding-bottom: 67px;

  @media (min-width: @tablet-width) {
    width: 458px;
    margin: 0 auto;
    padding-bottom: 67px;
  }

  @media (min-width: @desktop-width) {
    min-width: 458px;
    margin: 0 auto;
    background-image: none;
    padding: 0;
  }
}

.hero-catalog-description__title {
  padding: 0;
  margin: 0;
  padding-bottom: 35px;
  padding-top: 91px;
}

.hero-catalog-description__text {
  @media (min-width: @desktop-width) {
    padding-bottom: 67px;
  }
}
