.hero-catalog-description__wrapper {
  width: auto;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
    margin: 0 auto;
    background-image: none;
    padding: 0;
  }
}

.hero-catalog-description {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 57px;


  @media (min-width: @tablet-width) {
    width: 458px;
    margin: 0 auto;
    padding-bottom: 67px;
    padding-top: 66px;
  }

  @media (min-width: @desktop-width) {
    min-width: 458px;
    margin: 0 auto;
    background-image: none;
    padding: 0;
    padding-top: 104px;
  }
}

.hero-catalog-description__title {
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.hero-catalog-description__text {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 92px;
  }
}

.desktop-br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.gallery__item__icon {
  @media (min-width: @tablet-width) {
    fill: rgba(0, 0, 0, 1);
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    fill: #ffffff;
    opacity: 1;
  }
}
