.hero-form-description {
  text-align: center;
  box-sizing: border-box;
  margin-top: 36px;
  margin-bottom: 53px;
}

.hero-form-description::before {
  content: "";
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  width: 320px;
  height: 57px;
}

.hero-form-description__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.hero-form-description__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 35px;
}
