.hero-description {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  outline: 5px solid rgba(13, 0, 255, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.hero-description::before {
  content: "";
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  width: 320px;
  height: 57px;
}

.hero-description__wrapper {
  margin-left: 15px;
  margin-right: 13px;
  outline: 5px solid rgba(255, 0, 217, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    width: 520px;
    min-height: 103px;
    margin: 0 auto;
    padding-top: 47px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 484px;
    margin-left: 357px;
    margin-right: 359px;
  }
}

.hero-description__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 32px 18px 35px 18px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.hero-description__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
  }
}
