.hero-catalog__wrapper {
  width: 320px;
  margin: 0 auto;
}

.hero-catalog {
  min-height: 158px;
  background-color: #81B3D2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/back-mobile-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 158px;
  min-width: 320px;
  margin-bottom: 30px;
}
