.hero-form__wrapper {
  width: 280px;
  margin: 0 auto;
  outline: 5px solid #ff0051cc;
  outline-offset: -5px;
  margin-bottom: 53px;

  @media (min-width: @tablet-width) {
    width: 435px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin: 0 auto;
  }
}

.hero-form {
  min-height: 158px;
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/back-mobile-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    min-height: 290px;
    margin: 0 auto;
  }
}

.hero-form__img {
  display: block;
}
