.hero {
  min-height: 389px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
  }
}

.hero__img {
  padding-top: 90px;
  padding-left: 19px;
}
