.main-nav {}

.main-nav__toggle {
  margin-right: 1px;
  margin-left: 25px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}

.main-nav__icon {}

.main-nav__wrapper {
}

.main-nav__list {}

.main-nav__item {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.main-nav__item--active {
  color: rgba(118, 99, 87, 1);
}
