.main-nav {
  background-color: #81b3d2;
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  text-align: center;

  .main-nav__item a {
    min-height: 55px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    align-items: center;
    min-width: 320px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }

  @media (min-width: @tablet-width) {
    min-width: 153px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    min-width: 240px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

/*Просто пустая кликабельная кнопка*/
.main-nav__toggle {
  position: absolute;
  margin-left: auto;
  box-sizing: border-box;
  border: none;
  padding: 0;
  top: 17px;
  right: 19px;
  z-index: 2;
  display: block;
  width: 22px;
  height: 22px;
  background-color: #81b3d2;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

/* Бургерное меню - верхняя палочка*/
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  width: 22px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 7px 0 0 #ffffff, 0 14px 0 0 #ffffff;
}

/*остальные две палочки внизу - тенями*/
.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow:
    0 5px 0 0 fade(#ffffff, 30%),
    0 10px 0 0 fade(#ffffff, 30%);
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;

    &--active {
      display: block;
      color: #81b3d2;
      height: 55px;
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
}

/*КНОПКА*/
.main-nav--opened .main-nav__toggle {
  top: 17px;
  right: 19px;

  /*Крестик - двумя палочками*/
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -10px;
    width: 36px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav--opened .main-header__logo {
  display: none;
  z-index: -1;
}

.main-nav__list--left {
  background-color: #81b3d2;
  position: relative;
  width: auto;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    order: -1;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    order: -2;
    margin-right: auto;
  }
}

.main-nav__list--right {
  background-color: #81b3d2;
  position: relative;
  width: auto;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    order: 0;
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    order: 2;
    margin-left: auto;
  }
}
