.main-header {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  margin: 0 auto;
  width: 320px;
  max-height: 56px;
  display: flex;
}

.main-header__wrapper {
  width: 282px;
  margin: 0 auto;
  display: flex;
}

.main-header__logo {
  display: block;
}

.main-header__logo-img {
  z-index: 1;
  width: 185px;
  margin-left: 48px;
}
