.search__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 49px;
  min-height: 110px;
  outline: 5px solid rgba(255, 0, 234, 0.8);
  outline-offset: -5px;
}

.search__button {
  padding: 16px 49px;
  margin-top: 32px;
}
