.search {
  padding-top: 38px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 318px;
    padding-top: 7px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: @desktop-width;
  }
}

.search__wrapper {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 110px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 435px;
    min-height: 101px;
    margin-top: 61px;
    margin-bottom: 13px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: 458px;
    margin-top: 54px;
  }
}

.search__title {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
  }
}

.search__text {
  width: 283px;
  padding-top: 10px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    width: 435px;
    padding-left: 0;
    }
}

.search__button {
  width: 284px;
  padding: 20px 49px;
  box-sizing: border-box;
  align-items: center;
  display: block;
  margin-top: 17px;
  margin-left: 18px;
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 458px;
    margin: 0 auto;
    text-align: center;
    margin-top: 34px;
    margin-left: 0;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: 458px;
  }
}
